.home-container {
    padding: 2vmax 0;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93%;
    margin: 0 auto;
}

.sf-input-wrapper {
    position: relative;
    flex: 1;
}

.sf-input {
    width: 100%;
}

.sf-submit {
    margin-left: 1vmax;
}

.sf-loading {
    position: absolute;
    top: 50%;
    right: 1vmax;
    transform: translateY(-47%);
}
