.home-container {
    padding: 2vmax 0;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93%;
    margin: 0 auto;
}

.sf-input-wrapper {
    flex: 1;
}

.sf-input {
    width: 100%;
}

.sf-submit {
    margin-left: 1vmax;
}

.sf-loading {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(20%, -20%);
}
