@keyframes loading-icon {
    0% {
        transform: scale(.6) rotate(0);
    }
    50% {
        transform: scale(1) rotate(360deg);
    }
    100% {
        transform: scale(.6) rotate(360deg);
    }
}

.loading-icon {
    width: 20vmax;
    height: 20vmax;
    animation: loading-icon 1.5s ease infinite;
}

.loading-icon.small {
    width: 10vmax;
    height: 10vmax;
}

.loading-icon.big {
    width: 29.4vmax;
    height: 29.4vmax;
}
