html.with-overlay {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, .5);
    z-index: 100000;
}
.overlay.solid {
    background-color: rgba(255, 255, 255, .9);
}

.overlay-content {
    background-color: var(--white);
    z-index: 11;
}

.overlay-error,
.overlay-message,
.overlay-loading,
.overlay-confirm {
    z-index: 100100;
}

.overlay-message-content,
.overlay-error-content {
    margin: 0 auto;
    display: flex;
    width: 45vmax;
    padding: 2.5vmax 3vmax;
    flex-direction: row;
    justify-content: center;;
    text-align: center;
    font-size: 2.8vmax;
    box-shadow: 0 1.6vmax 3.2vmax rgba(0, 0, 0, .5);
    border-radius: 5.9vmax;
    color: var(--text-color-dark-2);
}

.overlay-error-content {
    padding: 2.5vmax 3vmax 4.6vmax;
}

.overlay-error-icon {
    width: 9vmax;
    height: 9vmax;
}

.overlay-error-text {
    margin: 3vmax 0;
    overflow-wrap: break-word;
    max-width: 39vmax;
}

.overlay-error-btn {
    width: 23vmax;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    font-size: 3.6vmax;
}

.overlay-loading-content {
    background: transparent;
    box-shadow: none;
    text-align: center;
}

.overlay-confirm-content {
    width: 75vmax;
    padding: 5vmax 5vmax 2vmax;
}

.overlay-confirm-icon-wrapper {
    padding-bottom: 3vmax;
    text-align: center;
}

.overlay-confirm-icon {
    width: 9vmax;
    height: 9vmax;
}

.overlay-confirm-title {
    margin: 0 4vmax 5vmax;
}

.overlay-confirm-text {
    margin: 4vmax 0 7vmax;
    font-size: 2.8vmax;
    color: var(--text-color-dark-2);
    text-align: center;
}

.overlay-confirm-cancel-btn {
    margin-top: 2vmax!important;
    color: var(--text-color-dark-2);
}

.overlay-close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1vmax !important;
    color: var(--text-color-dark-2);
    z-index: 10;
}

.overlay-close-button-icon {
    width: 3vmax;
    height: 3vmax;
}
