#launcher {
    height: 100%;
}

#launcher-loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#launcher-loading-text {
    position: absolute;
    left: -100vmax;
    top: -100vmax;
}

#launcher-loading-text .thin {
    font-weight: 300;
}

#launcher-loading-text .bold {
    font-weight: bold;
}
