.text-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 6vmax;
    padding: 0 2vmax;
    box-sizing: border-box;
    border: none;
    border-radius: 1vmax;
    font-size: 2.4vmax;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color-dark-2);
    background-color: var(--white);
    outline: none;
}

.text-field:focus {
    box-shadow: inset 0 0 0 .2vmax #D8DCE6;
}

.text-field:disabled,
.text-field.disabled {
    color: var(--gray);
}

.text-field::placeholder {
    color: #D8DCE6;
}

.text-field.with-border {
    box-shadow: inset 0 0 0 0.1vmax #979797;
}

.text-field.with-border:focus {
    box-shadow: inset 0 0 0 0.1vmax #979797;
}

.text-field.with-clear-button {
    padding-right: 6vmax;
}

.text-field-label {
    margin-bottom: 1.2vmax;
    font-size: 2.4vmax;
    font-weight: bold;
    color: var(--text-color-dark);
}

.field-required-marker {
    color: #E34848;
}

.tf-password-visibility-switcher {
    position: absolute;
    right: 0;
    bottom: 0;
}

.tfpvs-icon,
.tf-clear-icon {
    width: 2vmax;
    height: 2vmax;
}

.tf-clear {
    position: absolute;
    right: 1vmax;
    top: 50%;
    transform: translateY(-50%);
    width: 4vmax!important;
    min-height: 4vmax;
    background-color: var(--gray-dark) !important;
    color: var(--white);
}
