.text-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    box-sizing: border-box;
    border: none;
    border-radius: 1rem;
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color-dark-2);
    background-color: var(--white);
    outline: none;
}

.text-field:focus {
    box-shadow: inset 0 0 0 .2rem #D8DCE6;
}

.text-field:disabled,
.text-field.disabled {
    color: var(--gray);
}

.text-field::placeholder {
    color: #D8DCE6;
}

.text-field.with-border {
    box-shadow: inset 0 0 0 0.1rem #979797;
}

.text-field.with-border:focus {
    box-shadow: inset 0 0 0 0.1rem #979797;
}

.text-field-label {
    margin-bottom: 1.2rem;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--text-color-dark);
}

.field-required-marker {
    color: #E34848;
}
